body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}

nav ul li a:hover {
    color: #12f78c;
}

/* Estilos principales */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.suscripcion {
    width: 50%;

    text-align: center;
    background-color: #f0f0f0; /* Color gris claro */
    padding: 10px;
    margin: 0 auto;
    color: #6b6b6b;
}

.imagen-suscripcion {
    width: 100%;
}

.suscripcion button {
    background-color: #7ABA96;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.suscripcion h3 {
    color: #000000;
}

.sobre-mi {
    text-align: center;
    width: 20%;
    margin-right: 200px;
    color: #6b6b6b;
}
.sobre-mi h2 {
    color: #000000;
}
.sobre-mi p {
    text-align: justify;
}

.recetas {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-right: 200px;
}

.recetas article {
    padding: 10px;
    text-align: justify;
}

.recetas img {
    width: 100%;
}

.recetas h3 {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.fecha {
    text-align: center;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}